/* .about-me{
    height: 100vh
} */
.col-md-12, .col-md-7, .col-md-5 {
    padding-right: 0px !important;
    position: relative;
    width: 100%;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.date{
    margin-bottom: .25rem;
    font-size: 12.5px !important;
    font-style: italic;
}